body
{
display: flex;
flex-direction: column;
}
main
{
    display: flex;
    flex-direction: row;
    flex:auto
    
}
article div div
{
    flex: 2;
    overflow-y: auto;
}
aside div
{
    flex: 1;
    overflow-y: auto;
}